# Core ML
torch
torchaudio
torchcodec
transformers
huggingface_hub
scikit-learn
pandas
numpy<2
pyarrow

# ASR Toolkit
espnet
# Note: You may need a specific version or branch for Mamba support

# Experiment Tracking
wandb

# Server
fastapi
uvicorn[standard]
python-socketio

jiwer